In [206]:
import numpy as np
import pandas as pd
import matplotlib as plt

In [214]:
import numpy as np

class meralr3:
    def __init__(self):
        self.m = None
        self.b = None

    def fit(self, X_train, y_train):
        num = 0
        den = 0
        X_train_mean = X_train.mean()
        y_train_mean = y_train.mean()

        for i in range(len(X_train)):
            num += (X_train[i] - X_train_mean) * (y_train[i] - y_train_mean)
            den += (X_train[i] - X_train_mean) ** 2

        self.m = num / den
        self.b = y_train_mean - (self.m * X_train_mean)

    def predict(self, X_test):
        return self.m * X_test + self.b

    def MAE(self, X_test, y_test):
        y_pred1 = self.predict(X_test)
        value1 = np.sum(abs(y_test - y_pred1))
        return value1 / len(y_test)

    def MSE(self, X_test, y_test):
        y_pred2 = self.predict(X_test)
        value2 = np.sum((y_test - y_pred2) ** 2)
        return value2 / len(y_test)

    def RMSE(self, X_test, y_test):
        y_pred3 = self.predict(X_test)
        value3 = np.sum((y_test - y_pred3) ** 2)
        return np.sqrt(value3 / len(y_test))

    def R2(self, X_test, y_test):
        y_pred4 = self.predict(X_test)
        upper = np.sum((y_test - y_pred4) ** 2)
        lower = np.sum((y_test - y_test.mean()) ** 2)
        return 1 - (upper / lower)

    def adjR2(self, X_test, y_test):
        n = len(X_test)
        k = X_test.shape[1] if X_test.ndim > 1 else 1
        r2 = self.R2(X_test, y_test)
        return 1 - ((1 - r2) * (n - 1) / (n - k - 1))

In [208]:
df = pd.read_csv('Salary_Data.csv')

In [209]:
df.head()

   YearsExperience   Salary
0              1.1  39343.0
1              1.3  46205.0
2              1.5  37731.0
3              2.0  43525.0
4              2.2  39891.0

In [217]:
X = df.iloc[:, 0].values
y = df.iloc[:, 1].values

In [218]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 2)

In [222]:
X_test

array([1.3, 1.1, 4.5, 3.7, 7.1, 6. ])

In [219]:
lr1 = meralr3()

In [220]:
lr1.fit(X_train, y_train)

In [238]:
y_pred1 = lr1.predict(X_test[2])
lr1.predict(X_test[2])

67456.31013639623

In [225]:
X_test[2]

4.5

In [226]:
X_test.shape

(6,)

In [227]:
X_train.shape

(24,)

61111.0

In [230]:
y_test

array([46205., 39343., 61111., 57189., 98273., 93940.])

In [239]:
lr1.MAE(X_test, y_test)

6802.779572073899

In [240]:
lr1.MSE(X_test, y_test)

56137509.997825526

In [241]:
lr1.RMSE(X_test, y_test)

7492.496913434501

In [242]:
lr1.R2(X_test, y_test)

0.8886956733784563

In [243]:
lr1.adjR2(X_test, y_test)

0.8608695917230704

In [ ]:
mae = mean_absolute_error(y_test, y_pred)
mse = mean_squared_error(y_test, y_pred)
rmse = mean_squared_error(y_test, y_pred, squared=False)  # RMSE is sqrt of MSE
r2 = r2_score(y_test, y_pred)