In [14]:
import pandas as pd
from sklearn.impute import MissingIndicator, SimpleImputer

In [9]:
df = pd.read_csv('train.csv', usecols = ['Age', 'Fare', 'Survived'])

In [10]:
df.isnull().sum()

Survived      0
Age         177
Fare          0
dtype: int64

In [12]:
X= df.drop(columns = ['Survived'])
y = df['Survived']

In [13]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 2)

In [15]:
si = SimpleImputer()
X_train_si = si.fit_transform(X_train)
X_test_si = si.transform(X_test)

In [19]:
from sklearn.linear_model import LogisticRegression

clf1 = LogisticRegression()

clf1.fit(X_train_si, y_train)

y_pred1 = clf1.predict(X_test_si)

from sklearn.metrics import accuracy_score
accuracy_score(y_test, y_pred1)

0.6145251396648045

In [21]:
mi = MissingIndicator()
X_train_mi = mi.fit_transform(X_train)
X_test_mi = mi.transform(X_test)

In [22]:
X_train['Age_NA'] = X_train_mi

In [39]:
X_train

      Age      Fare  Age_NA
30   40.0   27.7208   False
10    4.0   16.7000   False
873  47.0    9.0000   False
182   9.0   31.3875   False
876  20.0    9.8458   False
..    ...       ...     ...
534  30.0    8.6625   False
584   NaN    8.7125    True
493  71.0   49.5042   False
527   NaN  221.7792    True
168   NaN   25.9250    True

[712 rows x 3 columns]

In [25]:
X_test['Age_NA'] = X_test_mi

In [36]:
si2 = SimpleImputer()

X_train_si2 = si2.fit_transform(X_train)
X_test_si2 = si.transform(X_test)

In [37]:
from sklearn.linear_model import LogisticRegression

clf2 = LogisticRegression()

clf2.fit(X_train_si2,y_train)

y_pred2 = clf2.predict(X_test_si2)

from sklearn.metrics import accuracy_score
accuracy_score(y_test,y_pred2)

0.6312849162011173

In [ ]:
X_test = si.transform(X_test)

In [38]:
from sklearn.linear_model import LogisticRegression

clf = LogisticRegression()

clf.fit(X_train_trf2,y_train)

y_pred = clf.predict(X_test_trf2)

from sklearn.metrics import accuracy_score
accuracy_score(y_test,y_pred)

0.6312849162011173